img {
	margin-left: 44%;
	display: block;
	width: 35%;
	height: 35%;
}
#slogan {
	padding-left: 41.8%;
	padding-top: 5.5%;
	font-size: 14pt;
}
.thumbnail {
	text-align: center;
	position: relative;
	width: 260px;
	height: 500px;
	float:left;
}
.well {
	text-align: center;
	position: relative;
	width: 210px;
	height: 400px;
	margin: auto;
}
.btn {
	width: 170px;
}
