<div>
	<br><br>
	<!--Main Content-->
	<div class="container">
		<div class="row">
   			 <div class="col-lg-6 col-lg-offset-2">
			    
			    <div class="thumbnail" id="thumbnailAddApplicant">
			        <h3><font color = "#345487">&nbsp Add Applicant Record</font></h3>
			        <div class = "well" id="wellAddApplicant">
			        	
			        	<form>
			        		<div class="col-sm-5 col-md-5">
							  <div class="form-group row">
							    <label for="outputCompany" class="col-sm-5 col-form-label">Company:</label>
							    <div class="col-sm-7">
							      <input type="company" class="form-control" id="outputCompany">
							    </div>
							  </div>
							  <div class="form-group row">
							    <label for="outputLastName" class="col-sm-5 col-form-label">Last Name:</label>
							    <div class="col-sm-7">
							      <input type="lastName" class="form-control" id="outputLastName">
							    </div>
							  </div>
							  <div class="form-group row">
							    <label for="outputFirstName" class="col-sm-5 col-form-label">First Name:</label>
							    <div class="col-sm-7">
							      <input type="firstName" class="form-control" id="outputFirstName">
							    </div>
							  </div>
							  <div class="form-group row">
							    <label for="outputDob" class="col-sm-5 col-form-label">DOB:</label>
							    <div class="col-sm-7">
							      <input type="dob" class="form-control" id="outputDob">
							    </div>
							  </div>
							  <div class="form-group row">
							    <label for="outputAge" class="col-sm-5 col-form-label">Age:</label>
							    <div class="col-sm-7">
							      <input type="age" class="form-control" id="outputAge">
							    </div>
							  </div>
							  </div>

							<div class="col-sm-7 col-md-7">
								<div class="form-group row">
								    <label for="outputRace" class="col-sm-4 col-form-label">Race:</label>
								    <div class="col-sm-8">
								      <input type="race" class="form-control" id="outputRace">
								    </div>
							  	</div>
							  	<div class="form-group row">
								    <label for="outputSex" class="col-sm-4 col-form-label">Sex:</label>
								    <div class="col-sm-8">
								      <input type="sex" class="form-control" id="OutputSex">
								    </div>
							  	</div>
							  	<div class="form-group row">
								    <label for="outputCounty" class="col-sm-4 col-form-label">County:</label>
								    <div class="col-sm-8">
								      <input type="county" class="form-control" id="outputCounty">
								    </div>
							  	</div>
							  	<div class="form-group row">
								    <label for="outputDeparture" class="col-sm-4 col-form-label">Departure:</label>
								    <div class="col-sm-8">
								      <input type="departure" class="form-control" id="outputDeparture">
								    </div>
							  	</div>
							  	<div class="form-group row">
							   		<button type="button" id = "attachFilesAddApplicant" class="btn btn-primary">Attach Files</button>
							    </div>
							 
							</div>
							<div class="col-sm-12 col-md-12">
								<br>
							   <button type="button" id = "cancelAddApplicant" class="btn btn-primary">Cancel</button>
							   <button type="button" id = "saveAddApplicant" class="btn btn-primary">Save</button>
							</div>
			        	</form>

					</div>
			    </div>
			</div>
		</div>
	</div>
	<!--Main Content end-->
</div>