<div>
	<!--Main Content-->
			<br><br>
			  <div class="col-sm-4 col-md-4">
			    <div class="thumbnail" id="thumbnailAdminHome">
			        <h3><font color = "#345487">Options</font></h3>
			        	<div class = "well" id="wellAdminHome">
			        		<br><br><br>
					        <p><a href="recruiterHome"><a class="btn btn-primary" href="recruiterHome" role="button" oncllick="showCadets()">Recruiter Home</a></a></p>
					        <br><br><br>
					        <p><a href="counselorHome"><a class="btn btn-primary" href="counselorHome" role="button" onclick="showCadets()">Counselor Home</a></a></p>
					        <br><br><br>
					        <p><a href="staffRecords" class="btn btn-primary" role="button" onclick="showStaff()">View/Edit Users</a></p>
					    </div>
			    </div>
			  </div>
			  <div class="col-sm-8 col-md-8">
			  </div>
	<!--Main Content end-->
			<div class="col-sm-8 col-md-8" id="viewCadets">

			</div>
			<div class="col-sm-8 col-md-8" id="viewStaff">

			</div>

</div>