<div>
	<!--Main Content-->
			<br><br>
			  <div class="col-sm-4 col-md-4">
			    <div class="thumbnail">
			        <h3><font color = "#345487">Options</font></h3>
			        	<div class = "well">
			        		<br><br><br>
					        <p><a href="cadetRecords"><a class="btn btn-primary" href="cadetRecords" role="button" oncllick="showCadets()">View Cadet Record</a></a></p>
					        <br><br><br>
					        <p><a href="search"><a class="btn btn-primary" href="editCadetRecord" role="button" onclick="showCadets()">Edit Cadet Record</a></a></p>
					        <br><br><br>
					        <p><a href="staffRecords" class="btn btn-primary" role="button" onclick="showStaff()">View/Edit Users</a></p>
					    </div>
			    </div>
			  </div>
			  <div class="col-sm-8 col-md-8">
			  	<img src="./images/logo.jpg" alt="Logo" id="homeLogo">
			  </div>
	<!--Main Content end-->
			<div class="col-sm-8 col-md-8" id="viewCadets">

			</div>
			<div class="col-sm-8 col-md-8" id="viewStaff">

			</div>

</div>