<div>
	<!--Main Content-->
			  <div class="col-sm-3 col-md-3">
			    <div class="thumbnail">
			        <h3><font color = "#3F8EBF">Options</font></h3>
			        	<div class = "well">
			        		<br><br><br>
					        <p><a href="cadetRecords"><a class="btn btn-primary" href="cadetRecords" role="button" oncllick="showCadets()">View Cadet Record</a></a></p>
					        <br><br><br>
					        <p><a href="editCadetRecord"><a class="btn btn-primary" href="editCadetRecord" role="button" oncllick="showCadets()">Edit Cadet Record</a></a></p>
					        <br><br><br>
					        <p><a class="btn btn-primary" role="button" oncllick="showStaff()">View/Edit Users</a></p>
					    </div>
			    </div>
			  </div>
	<!--Main Content end-->
			<div class="col-sm-8 col-md-8" id="viewCadets">

			</div>
			<div class="col-sm-8 col-md-8" id="viewStaff">

			</div>

</div>