<div>
	<br><br>
	<!--Main Content-->
		<div class="col-sm-8 col-md-8 col-sm-push-2 col-md-push-2">
	    <div class="thumbnail" id="thumbnailProfile">
	        <h3><font color = "#345487">&nbsp Cadet Profile</font></h3>
	        <div class = "well" id="wellProfile">
	        	
	        	<form>

	        	<div class="col-sm-5 col-md-5">
	        		<div class="form-group row">
	        			<img src="./images/profilePicture.png" class="img-fluid" id="profilePicture" alt="Cadet Picture">
	        		</div>

	        		<div class="form-group row">
					    <label for="outputLastName" class="col-sm-5 col-form-label">Company:</label>
					    <div class="col-sm-7">
					      <input type="lastName" class="form-control" id="outputLastName">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputFirstName" class="col-sm-5 col-form-label">Last Name:</label>
					    <div class="col-sm-7">
					      <input type="firstName" class="form-control" id="outputFirstName">
					    </div>
					  </div>

	        		<div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">First Name:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputLocation" class="col-sm-5 col-form-label">DOB:</label>
					    <div class="col-sm-7">
					      <input type="location" class="form-control" id="outputLocation">
					    </div>
					  </div>

	        	</div>



	        		<div class="col-sm-7 col-md-7">

	        		  

					  <div class="form-group row">
					    <label for="outputLastName" class="col-sm-5 col-form-label">Age:</label>
					    <div class="col-sm-7">
					      <input type="lastName" class="form-control" id="outputLastName">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">Race:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">Sex:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>
					  
					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">City:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">County:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">Departure:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">Notes:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>

	        		</div>
	        	</form>

			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>