<div>
<!--Main Content-->
			  <div class="col-sm-3 col-md-3">
			    <div class="thumbnail">
			        <h3><font color = "#3F8EBF">Options</font></h3>
			        	<div class = "well">
			        		<br><br><br>
					        <p><a href="cadetRecords" class="btn btn-primary" role="button">View Cadet Record</a></p>
					        <br><br><br>
					        <p><a href="editCadetRecord" class="btn btn-primary" role="button">Edit Cadet Record</a></p>
					        <br><br><br>
					        <p><a href="#" class="btn btn-primary" role="button">Export Report</a></p>
					    </div>
			    </div>
			  </div>
	<!--Main Content end-->
</div>