<div>
	<!--Main Content-->
		<div class="col-sm-8 col-md-8 col-sm-push-2 col-md-push-2">
	    <div class="thumbnail" id="thumbnailEdit">
	        <h3><font color = "#3F8EBF">&nbsp Edit Cadet Records</font></h3>
	        <div class = "well" id="wellEdit">
	        	
	        	<form>
	        		<div class="col-sm-5 col-md-5">
					  <div class="form-group row">
					    <label for="outputLastName" class="col-sm-4 col-form-label">Last Name:</label>
					    <div class="col-sm-8">
					      <input type="lastName" class="form-control" id="outputLastName">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="outputFirstName" class="col-sm-4 col-form-label">First Name:</label>
					    <div class="col-sm-8">
					      <input type="firstName" class="form-control" id="outputFirstName">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-4 col-form-label">SSN#:</label>
					    <div class="col-sm-8">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="outputLocation" class="col-sm-4 col-form-label">Location:</label>
					    <div class="col-sm-8">
					      <input type="location" class="form-control" id="outputLocation">
					    </div>
					  </div>
					  <br><br>
					  <div class="form-group row">
					 	 <button type="button" id = "deleteButton" class="btn btn-primary">Delete Record</button>
					 </div>
	        		</div>



	        		<div class="col-sm-7 col-md-7">
					  <div class="form-group row">
					    <label for="outputLastName" class="col-sm-5 col-form-label">Current Comment Files:</label>
					    <div class="col-sm-7">
					      <input type="lastName" class="form-control" id="outputLastName">
					    </div>
					  </div>
					 
					 <div class="form-group row">
					 	 <button type="button" id = "attachAdditionalComments" class="btn btn-primary">Attach Additional Comments</button>
					 </div>

					  <div class="form-group row">
					    <label for="outputSocial" class="col-sm-5 col-form-label">Current Files:</label>
					    <div class="col-sm-7">
					      <input type="social" class="form-control" id="outputSocial">
					    </div>
					  </div>
					  
					  <div class="form-group row">
					 	 <button type="button" id = "attachAdditionalFiles" class="btn btn-primary">Attach Additional Files</button>
					 </div>
					  
					  <div class="form-group row">
					 	 <button type="button" id = "save" class="btn btn-primary">Save Changes</button>
					 </div>
					 <div class="form-group row">
					 	 <button type="button" id = "cancel"class="btn btn-primary">Cancel</button>
					 </div>

	        		</div>
	        	</form>

			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>