{{!--notes.handlebars --}}

<div>
	<!--Main Content-->
		<div class="col-sm-10 col-md-10">
	    <div class="thumbnail" id="thumbnailRecord">
	        <h3><font color = "#345487">&nbsp Notes</font></h3>
	        <div class = "well" id="wellRecord">
	        	<form action="noteSession" method="post">
	        	<div class="form-group row">
					    <label for="outputID" class="col-sm-3 col-form-label">ID:</label>
					    <div class="col-sm-5">
					      <input type="ID" class="form-control" id="outputID" name="outputIDS">
					    </div>
				</div>
				<div class="form-group row">
					    <label for="outputNotes" class="col-sm-3 col-form-label">Notes:</label>
					    <div class="col-sm-5">
					      <textarea name="notes" style="width:600px; height:400px" type="notes" class="form-control" id="outputNotes"></textarea>
					    </div>
				</div>
				<br><br><br><br><br>
				<div class="form-group row">
					<button type="submit" value="Submit" onclick="submit" id = "save" class="btn btn-primary">Save Session</button>
				</div>
				</form>		
			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script type="text/javascript" src="./js/notesClient.js"></script>

