<div>
	<br><br>
	<!--Main Content-->
 		<div class="col-sm-4 col-md-4">
 		    <div class="thumbnail">
		        <h3><font color = "#345487">Options</font></h3>
 		        	<div class = "well">
 		        		<br>
				        <p><a href="applicantRecords" class="btn btn-primary" role="button">View Applicant</a></p>
 				        <br><br><br>
 				        <p><a href="CadetRecords" class="btn btn-primary" role="button">View Cadets</a></p>
 				        <br><br><br>
 				        <p><a href="addApplicant" class="btn btn-primary" role="button">Add Applicant</a></p>
 				    </div>
 		    </div>
 		</div>
 		
 	<!--Main Content end-->
</div>