<div>
	<!--Main Content-->
		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail" id="thumbnailR">
		        <h3><font color = "#3F8EBF">Options</font></h3>
		        	<div class = "well" id="wellR">
		        		<br><br><br>
				        <p><a href="CadetRecords" class="btn btn-primary" role="button">View Applicant</a></p>
				        <br><br><br>
				        <p><a href="editCadetRecord" class="btn btn-primary" role="button">Edit Applicant</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Add Applicant</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Report</a></p>
				    </div>
		    </div>
		</div>
		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail" id="thumbnailR">
		        <h3><font color = "#3F8EBF">Reports</font></h3>
		        	<div class = "well" id="wellR">
		        		<br><br><br>
				        <p><a href="CadetRecords" class="btn btn-primary" role="button">View Cadets</a></p>
				        <br><br><br>
				        <p><a href="editCadetRecord" class="btn btn-primary" role="button">Edit Cadet</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Add Cadet</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Report</a></p>
				    </div>
		    </div>
		</div>
		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail" id="thumbnailR">
		        <h3><font color = "#3F8EBF">Reports</font></h3>
		        	<div class = "well" id="wellR">
		        		<br><br><br>
				        <p><a href="CadetRecords" class="btn btn-primary" role="button">View Report Templates</a></p>
				        <br><br><br>
				        <p><a href="editCadetRecord" class="btn btn-primary" role="button">Edit Report Template</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Create Report Template</a></p>
				        <br><br><br>
				        <p><a href="#" class="btn btn-primary" role="button">Run Report</a></p>
				    </div>
		    </div>
		</div>
	<!--Main Content end-->
</div>