<div>
	<br><br>
	<!--Main Content-->
 		<div class="col-sm-4 col-md-4">
 		    <div class="thumbnail" id="leftRecruiterThumbnail">
		        <h3><font color = "#345487">Applicants</font></h3>
 		        	<div class = "well" id="recruiterWell">
 		        		<br>
				        <p><a href="applicantRecords" class="btn btn-primary" role="button">View Applicant</a></p>
 				        <br><br><br>
				        <p><a href="editApplicantRecord" class="btn btn-primary" role="button">Edit Applicant</a></p>
 				        <br><br><br>
 				        <p><a href="addApplicant" class="btn btn-primary" role="button">Add Applicant</a></p>
 				    </div>
 		    </div>
 		</div>
 		<div class="col-sm-4 col-md-4">
 		</div>
		<div class="col-sm-4 col-md-4">
		    <div class="thumbnail" id="rightRecruiterThumbnail">
		        <h3><font color = "#345487">Cadets</font></h3>
		        	<div class = "well" id="recruiterWell">
		        		<br>
				        <p><a href="CadetRecords" class="btn btn-primary" role="button">View Cadets</a></p>
				        <br><br><br>
				        <p><a href="editCadetRecord" class="btn btn-primary" role="button">Edit Cadet</a></p>
				        <br><br><br>
				        <p><a href="addCadetRecord" class="btn btn-primary" role="button">Add Cadet</a></p>
				       
				    </div>
		    </div>
		</div>
 	<!--Main Content end-->
</div>