<div>
	<!--Main Content-->
	<br><br>
		<div class="col-sm-3 col-md-3 col-sm-push-4 col-md-push-4">
	    <div class="thumbnail" id="thumbnailSearch">
	        <h3><font color = "#345487">&nbsp Search</font></h3>
	        <div class = "well" id="wellSearch">
	        		<form>
					  <div class="form-group row">
					    <label for="inputSearch" class="col-sm-3 col-form-label">Search for:</label>
					    <div class="col-sm-9">
					      <input type="search" class="form-control" id="inputSearch" placeholder="Ex. Allen">
					      <br>
					    </div>
					  </div>
					   <div class="form-group row">
					    <label for="filterSearch" class="col-sm-12 col-form-label">Filter Search By:</label>
					  </div>
					   <div class="form-group row">
					    <select id="searchBy">
  							<option value="company">Company</option>
  							<option value="lastName">Last Name</option>
  							<option value="firstName">First Name</option>
  							<option value="DOB">Date of Birth</option>
  							<option value="age">Age</option>
  							<option value="race">Race</option>
  							<option value="sex">Sex</option>
  							<option value="city">City</option>
  							<option value="county">County</option>
  							<option value="departure">Departure</option>
						</select>
					  </div>

					  <div class="form-group row">
					 	 <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
					 </div>
					</form>

					
			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script type="text/javascript" src="./js/searchClient.js"></script>