<div>
	<!--Main Content-->
	<br><br>
		<div class="col-sm-3 col-md-3 col-sm-push-4 col-md-push-4">
	    <div class="thumbnail" id="thumbnailSearch">
	        <h3><font color = "#345487">&nbsp Search</font></h3>
	        <div class = "well" id="wellSearch">
	        		<form>
					  <div class="form-group row">
					    <label for="inputLastName" class="col-sm-3 col-form-label">Last Name:</label>
					    <div class="col-sm-9">
					      <input type="lastName" class="form-control" id="inputLastName" placeholder="Ex. Allen">
					      <br>
					    </div>
					  </div>
					   <div class="form-group row">
					    <label for="filterSearch" class="col-sm-12 col-form-label">Filter Search By:</label>
					  </div>
					   <div class="form-group row">
					    <label for="inputLocation" class="col-sm-3 col-form-label">Location:</label>
					    <div class="col-sm-9">
					      <input type="location" class="form-control" id="inputLocation" placeholder="Enter Text">
					    </div>
					  </div>

					  <div class="form-group row">
					 	 <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
					 </div>
					</form>

					
			</div>
	    </div>
	    </div>
	<!--Main Content end-->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script type="text/javascript" src="./js/searchClient.js"></script>