<div>
	<!--Main Content-->
		<div class="col-sm-8 col-md-8 col-sm-push-3 col-md-push-3">
	    <div class="thumbnail" id="thumbnailRecord">
	        <h3><font color = "#3F8EBF">&nbsp Staff Records</font></h3>
	        <div class = "well" id="wellRecord">
	        	<div class="col-sm-8 col-md-8" id="viewStaff">
	        	
				</div>	
			</div>
	    </div>
	    </div>
	<!--Main Content end-->

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script type="text/javascript" src="./js/staffRecordsClient.js"></script>