#loginLogo{
	margin-left: 84%;
	margin-right: auto;
	margin-top: 3%;
	display: block;
	width: 14%;
	height: 14%;
}
#homeLogo{

	display: block;
	float: center;
	width: 60%;
	height: 60%;
}
#profilePicture{
	width:133px;
	height:133px;
}
#wellProfile {
	text-align: center;
	position: relative;
	width: 840px;
	height: 360px;
	margin: auto;
}
#thumbnailProfile {
	text-align: left;
	position: relative;
	width: 860px;
	height: 430px;
	margin: auto;
}
recruiterHomeLogo{
	display: block;
	float: center;
	width: 60%;
	height: 60%;
}
.navbar-text{
	padding-top:5px;
	font-size: 14pt;
}
#slogan {
	font-size: 14pt;
	padding-top:10;
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}
#thumbnailAddApplicant{
	text-align: left;
	position: relative;
	width: 820px;
	height: 410px;
	margin: auto;
}
#wellAddApplicant{
	text-align: center;
	position: relative;
	width: 800px;
	height: 330px;
	margin: auto;
}
#attachFilesAddApplicant{
	float: left;
	margin-left: 162px;
	width: 265px;
}
#attachFilesAddCadet{
	float: left;
	margin-left: 162px;
	width: 265px;
}
#saveAddApplicant{
	float: right;
	width: 75px;
}
#saveAddCadet{
	float: right;
	width: 75px;
}
#cancelAddApplicant{
	float: left;
	width:75px;
}
#cancelAddCadet{
	float: left;
	width:75px;
}
#rightRecruiterThumbnail{
	width: 260px;
	height: 400px;
	float:left;
}
#leftRecruiterThumbnail{
	width: 260px;
	height: 400px;
	float:right;
}
.thumbnail {
	text-align: center;
	position: relative;
	width: 260px;
	height: 500px;
	float:left;
}
#thumbnailEdit {
	text-align: left;
	position: relative;
	width: 860px;
	height: 400px;
	margin: auto;
}
#thumbnailEdit2 {
	text-align: left;
	position: relative;
	width: 600px;
	height: 420px;
	margin: auto;
}

.well {
	text-align: center;
	position: relative;
	width: 210px;
	height: 400px;
	margin: auto;
}
#loginWell{
	width: 300px;
	height: 240px;
}
#emailLabel{
	float:left;
}
#passwordLabel{
	float: left;
}
#exampleCheck1{
	float:left;
}
#rememberMeLabel{
	float:left;
}
#enterLoginBtn{
	float: right;
}
#recruiterWell {
	text-align: center;
	position: relative;
	width: 210px;
	height: 320px;
	margin: auto;
}
#wellEdit {
	text-align: center;
	position: relative;
	width: 840px;
	height: 320px;
	margin: auto;
}
#wellEdit2 {
	text-align: center;
	position: relative;
	width: 580px;
	height: 350px;
	margin: auto;
}
#thumbnailSearch{
	text-align: left;
	position: relative;
	width: 470px;
	height: 310px;
	margin: auto;
}
#wellSearch {
	text-align: center;
	position: relative;
	width: 430px;
	height: 230px;
	margin: auto;
}
#thumbnailRecord {
	text-align: left;
	position: relative;
	width: 1240px;
	height: 710px;
	margin: auto;
}
#wellRecord {
	text-align: center;
	position: relative;
	width: 1200px;
	height: 630px;
	margin: auto;
}
#searchBtn{
	float: right;
	margin-right: 17px;
}
#deleteButton {
	float: left;
}
#attachAdditionalComments {
	float: left;
}
#attachAdditionalFiles {
	float: left;
}
#save{
	float: right;
}
#cancel{
	float: right;
}
/*.btn {
	width: 170px;
}*/

body{
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.btn-primary {
    background: #24478f;
    color: #ffffff;
}