img {
	margin-left: 84%;
	margin-right: auto;
	display: block;
	width: 12%;
	height: 12%;
}
.thumbnail {
	text-align: left;
	position: relative;
	width: 540px;
	height: 330px;
	margin: auto;
}
.well {
	text-align: center;
	position: relative;
	width: 500px;
	height: 250px;
	margin: auto;
}
#slogan {
	text-align: center;
	padding-top: 1%;
	font-size: 14pt;
}
.btn {
	float: right;
}
